<div class="contact mt-5 mb-5">
        <h1 class="w-100 justify-content-center mb-4">LEAVE US A NOTE</h1>
    <div class="mb-3 contact_input">
        <label for="exampleInputEmail1" class="form-label">Your Name</label>
        <input class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 contact_input">
        <label for="exampleInputEmail1" class="form-label">Your Email</label>
        <input type="email" class="form-control" aria-describedby="emailHelp">
    </div>
    <div class="mb-3 contact_input">
        <label for="exampleInputEmail1" class="form-label">Your Message</label>
        <textarea class="form-control" style="height: 100px;"></textarea>
    </div>
    <div class="w-100 mb-5 mt-5 justify-content-center" style="display: flex;">
        <button type="button" class="btn btn-outline-secondary ps-4 pe-4 pt-2s pb-2">SEND</button>
    </div>
</div>