<div style="width:100%; height:calc(100vh - 70px); margin:0; padding:0; overflow:hidden;">
    <div style="width:100%; height:100%;">
        <iframe src="/GameDice/index.html" 
                style="width:100%; height:100%; border:none; display:block;"
                allowfullscreen
                allow="autoplay; fullscreen">
        </iframe>
    </div>
</div>