<div class="card_home-main-layer m-2" style="width: 400px; height: 319px;">
  <div class="card_home-child-layer">
    <img src="/img/Item_home.PNG" alt="My Image" style="width: 400px; height: auto;">
  </div>
  <div class="card_home-child-layer hover-2"></div>
  <div class="card_home-child-layer align-items-center justify-content-center" style="display: flex;">
    <div class="hover-visible row">
      <div class="col-12 text-center">
        <h1>Hello {{index}}</h1>
      </div>
      <div class="col-12 text-center">
        <h3>Hello {{index}}</h3>
      </div>
      <div class="col-12 text-center">
        <button type="button" class="btn btn-secondary">View</button>
      </div>
    </div>
  </div>
</div>