<div class="describe_game pt-5 pb-5">
    <div class="row justify-content-center">
        <div class="col-6" style="width: 500px;">
            <img src="/img/Apocalypse_City.png" style="width: 500px; height: auto;">
        </div>
        <div class="col-6 ps-5 pe-4" style="width: 500px;">
            <h1>{{title}}</h1>
            <span class="describe_game_describe">Life is Strange is a critically acclaimed episodic adventure game developed by Dontnod Entertainment. The game follows the story of a teenage girl named Maxine "Max" Caulfield, who discovers she has the ability to rewind time. As she struggles to come to,...</span>
            <div class="row mt-4">
                <div class="col-6 align-self-center">
                    <div class="row justify-content-start">
                        <button type="button" class="col-auto btn btn-outline-secondary m-1">Read more</button>
                        <a type="button" class="col-auto btn btn-outline-secondary m-1" href={{url_play}}>Play</a>
                    </div>
                </div>
                <div class="col-6 align-self-center">
                    <div class="row justify-content-end">
                        <button type="button" class="col-auto btn btn-outline-secondary m-1" style="width: 40px; height: 40px;">
                            <i class="fa-brands fa-apple"></i>
                        </button>
                        <button type="button" class="col-auto btn btn-outline-secondary m-1" style="width: 40px; height: 40px;">
                            <i class="fa-brands fa-google-play"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>