.hover-visible {
   visibility: hidden;
  opacity: 0;
  transition-duration: 1s;
}
.card_home-main-layer:hover .hover-visible{
  visibility: visible;
  opacity: 1;
}

.card_home-main-layer{
  position: relative;
}

.card_home-child-layer{
  position: absolute;
  width: 100%;
  height: 100%;
}

.hover-2 {
    background: 
      linear-gradient(#0000005e 0 0) no-repeat
      calc(200% - var(--i,0)*100%) 100% / 200% calc(100%*var(--i,0) + .08em);
    transition: .3s calc(var(--i,0)*.3s), background-position .3s calc(.3s - calc(var(--i,0)*.3s));
  }
  .card_home-main-layer:hover .hover-2 {
    --i: 1;
  }

  .hover-3 {
    --c: no-repeat linear-gradient(#0000005e 0 0);
    background: 
      var(--c) calc(-101% + var(--i,0)*101%) 100% / 50.1% calc(100%*var(--i,0) + .08em),
      var(--c) calc( 201% - var(--i,0)*101%) 0    / 50.1% calc(100%*var(--i,0) + .08em);
    transition: .3s calc(var(--i,0)*.3s), background-position .3s calc(.3s - var(--i,0)*.3s);
  }
  .card_home-main-layer:hover .hover-3 {
    --i: 1;
  }

  .hover-4 {
    --c: #1095c1;
    line-height: 1.2em;
    background: conic-gradient(from -135deg at 100% 50%, var(--c) 90deg, #0000 0)
        0 var(--p, 0%),
      conic-gradient(from -135deg at 1.2em 50%, #0000 90deg, var(--c) 0) 100%
        var(--p, 0%);
    background-size: var(--s, 0%) 200%;
    background-repeat: no-repeat;
    transition: 0.4s ease-in, background-position 0s;
  }
  .card_home-main-layer:hover .hover-4 {
    --p: 100%;
    --s: calc(
      50% + 0.61em
    ); /* it should be 0.6em(1.2em/2) but we use a litte bigger */
    color: #fff;
  }
  
