.header_header {
  height: 70px;
  align-items: center;
  /* center vertically */
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3); }

.header_menu-header {
  color: #5b5858 !important;
  font-size: 20px !important;
  font-family: cursive;
  padding-right: 30px !important;
  padding-left: 30px !important;
  padding-top: 20px !important; }

.header_menu-header:hover {
  color: black !important;
  font-style: oblique !important; }

.header_height_header_link::before {
  height: 7px; }
