
<div class="carousel-cell card_carousel m-2">
    <div class="card full-width parent-hover-item">
        <img src="https://img.freepik.com/free-vector/cute-rabbit-with-duck-working-laptop-cartoon-illustration_56104-471.jpg" alt="My Image" style="max-width: 100%; height: auto;">
        <div class="card-layer child-hover-item justify-content-center">
            <div class="inner-box mid-center text-center">
                <h1>Hello {{index}}</h1>
                <h3>Hello {{index}}</h3>
                <button type="button" class="btn btn-secondary">View</button>
            </div>
        </div>
    </div>
</div>