<header class="sticky-top">
    <div class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary full-width full-height p-0">
            <div class="container-fluid h-100 ml-5 mr-5">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse h-100" id="navbarNavDropdown">
                <ul class="navbar-nav right h-100">
                    <li class="nav-item">
                    <a class="nav-link menu-header hover hover-underline hover-red h-100 height_header_link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link menu-header hover hover-underline hover-blue h-100 height_header_link" href="/about">About</a>
                    </li>
                    <li class="nav-item d-flex">
                    <a class="nav-link menu-header hover hover-underline hover-red h-100 height_header_link" href="/partial">Partial</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>
    </div>
</header>