
{{!-- <div class="main-carousel" data-flickity = '{ "wrapAround": true, "autoPlay":3000, "prevNextButtons": false, "pageDots": false, "pauseAutoPlayOnClick": false}'> --}}
<div class="main-carousel" data-flickity = '{ "wrapAround": true,"autoPlay":2500, "freeScroll": true, "prevNextButtons": false, "pageDots": false, "pauseAutoPlayOnClick": false}'>
  {{#times 10}}
    {{>card_carousel index = @index}}
     
  {{/times}}
</div>
{{{about}}}
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>