
{{!-- <div class="main-carousel" data-flickity = '{ "wrapAround": true, "autoPlay":3000, "prevNextButtons": false, "pageDots": false, "pauseAutoPlayOnClick": false}'> --}}
<div class="main-carousel" data-flickity = '{ "wrapAround": true, "prevNextButtons": false, "pageDots": false, "pauseAutoPlayOnClick": false}'>
  {{#times 10}}
     <div class="carousel-cell w500 m-5">
      <div class="full-width parent-hover-item">
          <img src="https://img.freepik.com/free-vector/cute-rabbit-with-duck-working-laptop-cartoon-illustration_56104-471.jpg" alt="My Image" style="max-width: 100%; height: auto;">
          <h1 class="inner-box child-hover-item">Hello {{@index}}</h1>
      </div>
    </div>
  {{/times}}
</div>
{{{about}}}
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>
<h1>H1</h1>